@charset "utf-8";
*
{
	font-family: "Varela Round", sans-serif;
	box-sizing: border-box;
	padding: 0px 0px;
	margin: 0px 0px;
	width: 100%;
}
header
{
	background-color: #165ccc;
}
header h3
{
	background-color: #165ccc;
	color: #FFFFFF;
	padding: 0.5em;
	float: left;
	display: block;
	width: 100%;
}
body
{
	padding: 0em 0.1em;
	background-color: #165ccc;
}
#StickyTopBit
{
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.mobileNav
{
	display: none;
}
.active a
{
	background-color: #2475f7;
}
nav
{
	border-width: 2px 0px 3px 0px;
	border-style: groove;
	border-color: #165ccc;
	padding-bottom: 3em;
    display: block;
	margin: auto;
}
ul
{
	list-style-type: none;
}
ul li
{
    width: 20%;
	float: left;
}

.TopNav
{
	color: #FFFFFF;
	background-color: #3e85f7;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 15px 16px;
}
.TopNav:hover 
{
    background-color: #165ccc;
    color: #FFFFFF;
}
footer
{
	padding: 1em;
	background-color: #86b3fc;
	text-align: center;
	color: #FFFFFF;
}
footer a
{
	text-decoration: none;
}
.mobile
{
	display: inline;
}
.desktop
{
	display: none;
}



.Chapter
{
	color: #000000;
	background-color: #a3c6ff;
	text-align: center;
	padding: 1em 0em 1em 0em;
}
.SectionShell 
{	
	padding: 1em 5%;
	width: 100%;
	background-color: #FFFFFF;
}
.Section
{
	background-color: #3e85f7;
	border-radius: 20px;
	border-style: ridge;
	border-color: #86b3fc;
	margin: 1em 0em 1em 0em;
}
.Section h2 
{
	color: #FFFFFF;
	padding: 0.5em;
}
.Section p 
{
	border-radius: 0px 0px 20px 20px;
	padding: 0.5em;
	background-color: #FFFFFF;
}




.FaqMain
{
	padding: 0em 5% 1em 5%;
	background-color: #FFFFFF;
}
.FaqItem
{
	padding: 1em 0em 0em 1em;
}
.FaqMain h1
{
	background-color: #3e85f7;
	color: #FFFFFF;
	text-align: center;
	border-radius: 1em;
}
.FaqSection
{
	padding: 1em 0em 1em 0em;
}
.FaqItem .SectionShell
{
	padding: 0em 5% 0em 5%;
}




.ResourceShell
{
	background-color: #165ccc; 
}
.ResourcesComp
{
	height: 550px;
}
.ResourcesComp
{
	background-color: #3e85f7;
	width: 50%;
	float: left;
	padding: 0em 0.3em 0em 0.3em
}

.ResourcesComp h1
{
	color: #FFFFFF;
	text-align: center;
	padding: 0em 0em 0.5em 0em;
}
.ResourcesComp ul li
{
	display: inline-block;
	width: 100%;
	list-style-type: disc;
	color: #FFFFFF;
	padding: 1em 0em 0em 0em;
}

.HomeDiv
{
	display: block;
}
#TopBit
{
	height: 300px;
	background-image: url(Goblin.jpg);
	background-repeat: none;
	background-size: cover;
	text-align: center;
	font-size: 2em;
	display: inline-block;
}
#TopBit h1
{
	
	color: #3e85f7;
	padding: 0.5em 0em 0em 0em;
	display: block;
	text-shadow: 2px 2px 2px #000000;
}
#TopBit h2
{
	font-size: 1em;
	color: #FFFFFF;
	background-color: #165ccc;
	border-radius: 2em;
	padding: 0.2em 0em 0.2em 0em;
	display: block;
}
.HomeMain
{
	display: block;
	width: 100%;
	margin: 0em 0em 10% 0em;
}
#MidBit
{
	background-color: #3e85f7;
	display: inline-block;
	padding: 1% 1% 5% 1%;
	margin: 4% 0em 0em 0em;
}
#MobileDiv1
{
	display: block;
}
#MobileDiv2
{
	display: block;
}
.HomeComp
{
	background-color: #3e85f7;
	width: 50%;
	float: left;
	padding: 0em 0.3em 0em 0.3em
}

.HomeComp h1
{
	color: #FFFFFF;
	text-align: center;
	padding: 0em 0em 0.5em 0em;
}
#HomeFoot
{
	padding: 1em 0em 1em 0em;
}



